@model PassionProjectV1.Models.GenreDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<div class="main-content">
    <h2>Are you sure you want to delete this genre?</h2>
    <form action="/Genre/List">
        <input type="submit" class="btn btn-info" name="GenreList" value="Cancel" />
    </form>
    <h2>@Model.Genre</h2>

    <form action="/Genre/Delete/@Model.GenreId" method="POST">
        <input type="submit" class="btn btn-success" value="Confirm Delete" />

    </form>

</div>
