@model PassionProjectV1.Models.GenreDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this genre?</h2>
<a href="/Genre/List">Cancel</a>
<h2>@Model.Genre</h2>

<form action="/Genre/Delete/@Model.GenreId" method="POST">
       <input type="submit" value="Confirm Delete" />

</form>