@model PassionProjectV1.Models.ViewModels.DetailsGenre

@{
    ViewBag.Title = "Details";
}

<div class="main-content">
    <form action="/Genre/DeleteConfirm/@Model.SelectedGenre.GenreId">
        <input style="margin-top: 15px;" type="submit" class="btn btn-danger delete-btn" name="DeleteGenre" value="Delete" />
    </form>
    <form action="/Genre/List">
        <input style="margin-top: 15px;" type="submit" class="btn btn-info" name="GenreList" value="List of Genres" />
    </form>
    <form action="/Genre/Edit/@Model.SelectedGenre.GenreId">
        <input style="margin-top: 15px;" type="submit" class="btn btn-info" name="UpdateGenre" value="Update" />
    </form>

    <div class="genres-list">
        <h2> @Model.SelectedGenre.Genre Songs &#127925;</h2>

        <div>
            @foreach (var song in Model.SongGenre)
            {
                <ul class="list-of-genres">
                    <li><a href="/Song/Details/@song.SongId">@song.SongName</a></li>
                </ul>

            }


        </div>
    </div>
   
</div>
