@model PassionProjectV1.Models.GenreDto

@{
    ViewBag.Title = "Edit";
}

<h2>Update Genre</h2>

<form action="/Genre/Update/@Model.GenreId" method="POST">
    <div style="display:none;">
        <input type="text" name="GenreId" value="@Model.GenreId" />
    </div>
    <div>
        <label>Genre:</label> <input type="text" name="Genre" value="@Model.Genre" />
    </div>
    <div>
        <input type="submit" value="Add new Genre" />
    </div>
</form>
