
@{
    ViewBag.Title = "Create";
}

<h2>Add a new genre</h2>

<form action="/Genre/Create" method="POST">
    <div>
        <label>Genre:</label> <input type="text" name="Genre" />
    </div>
    <div>
        <input type="submit" value="Add new Genre" />
    </div>
</form>
