@model PassionProjectV1.Models.ReviewDto

@{
    ViewBag.Title = "Details";
}
<form action="/Review/DeleteConfirm/@Model.ReviewId">
    <input style="margin-top: 15px;" type="submit" class="btn btn-danger delete-btn" name="ReviewDelete" value="Delete" />
</form>
<form action="/Review/List">
    <input style="margin-top: 15px;" type="submit" class="btn btn-info" name="ReviewList" value="Reviews List" />
</form>
<form action="/Review/Edit/@Model.ReviewId">
    <input style="margin-top: 15px;" type="submit" class="btn btn-info" name="ReviewUpdate" value="Update Review" />
</form>


<h2>@Model.SongName</h2>
<p>By: @Model.fname @Model.lname</p>
<div class="review-text-container">
    <div>@Model.ReviewText</div>


</div>





