@model IEnumerable<PassionProjectV1.Models.SongDto> 

@{
    ViewBag.Title = "Create";
}

<h2>Create Review</h2>

<form action="/Review/Create" method="POST">
    <div>
        <label>Song Id:</label>
        <select name="SongId">
            @foreach (var songs in Model)
            {
                <option value="@songs.SongId">@songs.SongName</option>
            }

        </select>
       
    </div>
    <div>
        <label>Review:</label> <input type="text" name="ReviewText" />
    </div>
    <div>
        <label>First Name:</label> <input type="text" name="fname" />
    </div>
    <div>
    <label>Last Name:</label> <input type="text" name="lname" />
    </div>
    <div>
        <input type="submit" value="Create Review" />
    </div>
</form>

